altgraph==0.17.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
crypto==1.4.1
cryptography==41.0.1
idna==3.4
macholib==1.16.2
Naked==0.1.32
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
PyYAML==6.0
requests==2.31.0
shellescape==3.8.1
shiboken6==6.5.1.1
urllib3==2.0.3
